@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

@offwhite: #F8F8F8;
@blackish: #0A0608;
@lightgray: #C5C5C5;
@darkgray: #606060;
@redish: #EB5757;
@red: #EB5757;
@green: #6FCF97;
@blue: #56CCF2;
@purple: #BB6BD9;
@yellow: #F2C94C;

body {
  color: @blackish;
  background-color: @offwhite;
  margin: 0;
  font-family: Quicksand;
}

.view-container {
  background-color: white;
  text-align: center;
  padding: 1.5em;
  padding-bottom: 3em;
  margin: 3em 4em 4em 4em;
  @media screen and (max-width: 900px) {
    margin: 3em 0 0 0;
    padding-top: 1em;
  }
}

h1 {
  font-weight: 400;
  font-size: 2.75em;
}

h2, h3 {
  font-weight: 400;
}

h2 {
  font-size: 2.5em;
  padding: 2px 8px 2px 6px;
}

h5 {
  font-size: 0.6em;
  margin: 1.5em 0;
}

p {
  line-height: 1.1em;
}

input {
  font-weight: 300;
}

textarea {
  border: 1px solid black;
  width: 60%;
  outline: 0;
  margin-top: 1em;
  @media screen and (max-width: 900px) {
    width: 95%;
  }
}

a:hover {
  text-decoration: none;
}

header {
  text-align: center;
  .img-wrapper {
    width: 100%;
    height: 10em;
    background-image: url('../img/dragon-fold-header-animated.svg');
    background-repeat: repeat-x;
    background-size: 45%;
    background-position: bottom;
    padding-top: 5em;
    .logo:hover {
      opacity: 0.9;
    }
    @media screen and (max-width: 500px) {
      background-size: 90%;
    }
    @media screen and (max-width: 900px) {
      padding-top: 5em;
      height: 10em;
    }
  }
  h1 {
    font-weight: 300;
    margin-top: 0.85em;
    margin-bottom: 0;
  }
  p {
    margin-top: 0.3em;
    font-weight: 500;
    font-size: 1.2em;
  }
}

.nav {
  z-index: 10;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: @blackish;
  font-weight: 500;
  text-transform: lowercase;
  div {
    display: flex;
    align-items: center;
    background-color: white;
    height: 3em;
  }
  span {
    padding: 0 20px;
  }
  a {
    color: @blackish;
    text-decoration: none;
    &:hover, &:focus {
      font-style: italic;
    }
  }
}

.bubbles-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 0.5em;
  .bubble {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    border-radius: 50% 50%;
    border: 2px solid;
    width: 150px;
    height: 150px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 1em;
    margin-bottom: 0;
    padding: 0.9em;
    .text { width: 100% }
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.controls {
  display: flex;
  justify-content: space-around;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  h3 { font-weight: 500 }
  span {
    color: #337AB7;
    &:hover {
      color: #23527C;
      cursor: pointer;
    }
  }
}

form {
  font-size: 2em;
  text-align: left;
  width: 300px;
  margin: 0 auto;
  label {
    margin-left: 0.5em;
    font-weight: 300;
    display: inline;
    vertical-align: middle;
  }
  input {
    display: inline;
    vertical-align: middle;
  }
}

.pdf-prev {
  #pdf {
    font-weight: 500;
    width: 790px;
    padding: 20px 35px 20px 50px;
    margin: 0 auto;
    text-align: left;
    img.logo {
      width: 35px;
      opacity: 0.65;
      outline: 0;
    }
    .title {
      color: @purple;
    }
    .specs {
      color: gray;
      font-weight: 400;
    }
    ul li {
      list-style-type: none;
      padding-left: 0.25em;
      &:before {
        content: '○  ';
      }
      span {
        padding-left: 0.5em;
      }
    }
    ol {
      padding-left: 0;
      list-style-position: inside;
      p {
        margin: 0;
      }
    }
    .list-items div {
      display: inline-block;
    }
    .footer {
      p {
        margin-bottom: 0;
        margin-right: 0.5em;
        line-height: 1.1em;
      }
    }
  }
}
