@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body {
  color: #0a0608;
  background-color: white;
  margin: 0;
  font-family: Quicksand;
}
.view-container {
  background-color: white;
  text-align: center;
  margin: 4em;
}
@media screen and (max-width: 900px) {
  .view-container {
    margin: 3.5em 1.5em 1.5em 1.5em;
  }
}
h1 {
  font-weight: 400;
  font-size: 2.75em;
}
h2,
h3 {
  font-weight: 400;
}
h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
h5 {
  font-size: 0.6em;
  margin: 1.5em 0;
}
p {
  line-height: 1.1em;
}
input {
  font-weight: 300;
}
textarea {
  border: 1px solid black;
  width: 60%;
  outline: 0;
  margin-top: 1em;
}
@media screen and (max-width: 900px) {
  textarea {
    width: 95%;
  }
}
a:hover {
  text-decoration: none;
}
header {
  background-color: #f8f8f8;
  text-align: center;
  padding-bottom: 2.25em;
}
header .img-wrapper {
  width: 100%;
  height: 10em;
  background-image: url('../img/dragon-fold-header-animated.svg');
  background-repeat: repeat-x;
  background-size: 45%;
  background-position: bottom;
  padding-top: 5em;
}
header .img-wrapper .logo:hover {
  opacity: 0.9;
}
@media screen and (max-width: 500px) {
  header .img-wrapper {
    background-size: 90%;
  }
}
@media screen and (max-width: 900px) {
  header .img-wrapper {
    padding-top: 5em;
    height: 10em;
  }
}
header h1 {
  font-weight: 300;
  margin-top: 0.85em;
  margin-bottom: 0;
}
header p {
  margin-top: 0.3em;
  font-weight: 500;
  font-size: 1.2em;
}
.nav {
  z-index: 10;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #0a0608;
  font-weight: 500;
  text-transform: lowercase;
}
.nav div {
  display: flex;
  align-items: center;
  background-color: white;
  height: 3em;
}
.nav span {
  padding: 0 20px;
}
.nav a {
  color: #0a0608;
  text-decoration: none;
}
.nav a:hover,
.nav a:focus {
  font-style: italic;
}
.bubbles-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 0.5em;
}
.bubbles-wrap .bubble {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  border-radius: 50% 50%;
  border: 2px solid;
  width: 150px;
  height: 150px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 1em;
  margin-bottom: 0;
  padding: 0.9em;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bubbles-wrap .bubble .text {
  width: 100%;
}
.controls {
  display: flex;
  justify-content: space-around;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.controls h3 {
  font-weight: 500;
}
.controls span {
  color: #337AB7;
}
.controls span:hover {
  color: #23527C;
  cursor: pointer;
}
form {
  font-size: 2em;
  text-align: left;
  width: 300px;
  margin: 0 auto;
}
form label {
  margin-left: 0.5em;
  font-weight: 300;
  display: inline;
  vertical-align: middle;
}
form input {
  display: inline;
  vertical-align: middle;
}
.pdf-prev #pdf {
  font-weight: 500;
  width: 790px;
  padding: 20px 35px 20px 50px;
  margin: 0 auto;
  text-align: left;
}
.pdf-prev #pdf img.logo {
  width: 35px;
  opacity: 0.65;
  outline: 0;
}
.pdf-prev #pdf .title {
  color: #bb6bd9;
}
.pdf-prev #pdf .specs {
  color: gray;
  font-weight: 400;
}
.pdf-prev #pdf ul li {
  list-style-type: none;
  padding-left: 0.25em;
}
.pdf-prev #pdf ul li:before {
  content: '○  ';
}
.pdf-prev #pdf ul li span {
  padding-left: 0.5em;
}
.pdf-prev #pdf ol {
  padding-left: 0;
  list-style-position: inside;
}
.pdf-prev #pdf ol p {
  margin: 0;
}
.pdf-prev #pdf .list-items div {
  display: inline-block;
}
.pdf-prev #pdf .footer p {
  margin-bottom: 0;
  margin-right: 0.5em;
  line-height: 1.1em;
}
